/node_modules/
/tests/__pycache__/
/config.json
/brytonTrainerPlan/__pycache__/
/*.zwo
/*.csv
/inputs/
/tmp/
/.pytest_cache
/.pytest_cache/CACHEDIR.TAG
/.pytest_cache/README.md
/.pytest_cache/v/cache/lastfailed
/.pytest_cache/v/cache/nodeids
/.pytest_cache/v/cache/stepwise
/brytonTrainerPlan/workoutExtractor/__pycache__/
/__pycache__/
